
<div class="custom-container">
  <h2>Nueva Tarea</h2>
  <form class="task-form" [formGroup]="TaskForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Ingres un Titulo"  formControlName="title" name="title"  />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput
                placeholder="Ingrese una descripción..."
                formControlName="description"
                name="description"
                rows="5"></textarea>
    </mat-form-field>

    

    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
  </form>
</div>
