
.custom-board-task {
  display: flex;
  padding: 20px;
  

  
}

.header-board {
  display: flex;
  align-items: center;
  padding-left: 45px;
  align-content:center;
  gap: 28px;
}

.btnTask{
   background-color: #000000;
}
.icon-color {
    color: #ffffff;
}
